extends layout

// block style

block content
	.container
		header
			block header
				include _header
		nav
			block nav
				include _nav
		.main-content
			block main-content
				include _
		footer
			block footer
				include _footer