header_h = 300px
left-size = 260px
center-size = 715px
right-size = 445px


navBar_w = 150px
navBar_h = 30px

offWhite =  #f6f8fb

darkGrey = #46484b
lightGrey = #a8a9ab






/*navBefore
  *margin: 0px (nav-link-size * -1.5)
  *padding: 5px 50%
  *fixed: top 175px left 0px
*/	
